@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1180px;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-inline:var(--padding-inline-section) ;
  overflow: hidden;
}
